{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": "umd" }
        ]
      ],
      "plugins": [
        "@babel/transform-runtime",
        "@babel/transform-async-to-generator"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false }
        ]
      ]
    }
  },
  "ignore": [
    "node_modules/**",
    "*.test.js"
  ]
}
