{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "@babel/transform-runtime",
    "@babel/transform-async-to-generator",
  ],
  "ignore": [
    "node_modules",
    "**/*.test.js",
    "setupTest.js"
  ]
}
